$text-color: #333333;
$text-color-2: #777777;
$title-color: #EC008C;
$button-bg-1: #FEEBF6;
// $bg-light-pink:
$primary-color: #0f0d0e;
$bg-white: #fff;
$bg-lightBlue: #44a3e3;
$bg-lightBlue-hover: #4ba1dae8;
$bg-main: #F4F4F4;
$border-color: #E7E7E7;
$border-color-2: #CCCCCC;
