@import "./colors";
@import "./_fonts";
@import "./variables";
@import "./mixins";

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: auto;
}
a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1200px;

  @media (max-width: 993px) {
    width: 85%;
  }
  @media (max-width: 767.98px) {
    width: 90%;
  }
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none !important;
  border-color: #dddce0;
}
// iframe
